---
http_interactions:
- request:
    method: get
    uri: https://api.cymon.io/v2/ioc/search/sha256/91bcefdea13e64ac5b55f1f92e58f8ff236611de3255b483cc54ee4a572017cb?size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 861c16ed-a6fb-11e8-bdfd-0dfd2bdc3e8f
      x-amz-apigw-id:
      - MFqnLF2hoAMF10A=
    body:
      encoding: UTF-8
      string: '{"total":0,"from":0,"size":5,"hits":[]}'
  recorded_at: Thu, 23 Aug 2018 17:39:45 GMT
recorded_with: VCR 4.0.0
