---
http_interactions:
- request:
    method: get
    uri: https://api.cymon.io/v2/ioc/search/sha1/736a602300a0476b738a53ee7feb5f9bfabca1b0?size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 859693b8-a6fb-11e8-8734-d9947b443859
      x-amz-apigw-id:
      - MFqnDFC2oAMF1UQ=
    body:
      encoding: UTF-8
      string: '{"total":0,"from":0,"size":5,"hits":[]}'
  recorded_at: Thu, 23 Aug 2018 17:39:44 GMT
recorded_with: VCR 4.0.0
