---
http_interactions:
- request:
    method: get
    uri: https://api.cymon.io/v2/ioc/search/md5/86845ea1079ea26ecac6115ba6f4a66e?size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 851ea4b9-a6fb-11e8-bbf1-b73d3c9821bc
      x-amz-apigw-id:
      - MFqm7HcdIAMF2gA=
    body:
      encoding: UTF-8
      string: '{"total":0,"from":0,"size":5,"hits":[]}'
  recorded_at: Thu, 23 Aug 2018 17:39:43 GMT
recorded_with: VCR 4.0.0
