---
http_interactions:
- request:
    method: get
    uri: https://api.cymon.io/v2/ioc/search/term/locky?size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 86b37576-a6fb-11e8-afac-09f081a67f52
      x-amz-apigw-id:
      - MFqnVHjeIAMFzDQ=
    body:
      encoding: UTF-8
      string: '{"total":88,"from":0,"size":5,"hits":[{"title":"Ransomware command
        & control (C2) server","description":"Registrar: ","link":"https://ransomwaretracker.abuse.ch/host/83.217.11.193/","reported_by":"cymon","feed":"Abuse.ch
        Ransomware Tracker","feed_id":"AVsGgRbdVjrVcoBZyoid","timestamp":"2018-08-12T00:46:13.000Z","tags":["c2","locky","c&c","ransomware"],"ioc":{"url":"http://83.217.11.193/linuxsucks.php","hostname":"83.217.11.193","ip":"83.217.11.193"},"location":{"country":"RU","city":"Moscow","point":{"lon":37.615,"lat":55.752}},"id":"2a70bf6517c0d70481d626895f191f68b3a2b841f81f19847305d30e0960ddcb"},{"title":"Ransomware
        command & control (C2) server","description":"Registrar: Danesco Trading Ltd.","link":"https://ransomwaretracker.abuse.ch/host/pagaldaily.com/","reported_by":"cymon","feed":"Abuse.ch
        Ransomware Tracker","feed_id":"AVsGgRbdVjrVcoBZyoid","timestamp":"2018-08-10T05:43:15.000Z","tags":["c2","locky","c&c","ransomware"],"ioc":{"url":"http://pagaldaily.com/apache_handler.php","hostname":"pagaldaily.com","domain":"pagaldaily.com","ip":"185.82.217.102"},"id":"1ab106b3407ba054b574e918e04137f9b8c05578cb14bacf072e07f36f756ce0"},{"title":"Ransomware
        command & control (C2) server","description":"Registrar: ","link":"https://ransomwaretracker.abuse.ch/host/185.82.217.102/","reported_by":"cymon","feed":"Abuse.ch
        Ransomware Tracker","feed_id":"AVsGgRbdVjrVcoBZyoid","timestamp":"2018-08-10T05:43:15.000Z","tags":["c2","locky","c&c","ransomware"],"ioc":{"url":"http://185.82.217.102/apache_handler.php[...]
