---
http_interactions:
- request:
    method: get
    uri: https://api.cymon.io/v2/ioc/search/hostname/kamadenlai.5gbfree.com?size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 84a8b0c4-a6fb-11e8-9614-83aee497ec8f
      x-amz-apigw-id:
      - MFqmzHrFoAMFxlA=
    body:
      encoding: UTF-8
      string: '{"total":28,"from":0,"size":5,"hits":[{"title":"Phishing activity","description":"Website:
        alanmaclennan.5gbfree.com \nIP: 209.90.88.139 \nClassification: PSH \nAdded:
        8/16/2018 3:20:01 PM \nAdded By: TeMerc","link":"http://hosts-file.net/?s=alanmaclennan.5gbfree.com","reported_by":"cymon","feed":"hosts-file.net","feed_id":"AVsGZTOOVjrVcoBZyoiQ","timestamp":"2018-08-16T15:20:00.000Z","tags":["phishing"],"ioc":{"hostname":"alanmaclennan.5gbfree.com","domain":"5gbfree.com","ip":"209.90.88.139"},"location":{"country":"US","city":"Orem","point":{"lon":-111.6761,"lat":40.2968}},"id":"acffff47725a96123644db6e7707107f29c69f6efb75616e42da7bb01db58da4"},{"title":"Phishing
        activity","description":"Website: reshmapafforrd.5gbfree.com \nIP: 92.242.140.2
        \nClassification: PSH \nAdded: 8/3/2018 12:58:25 AM \nAdded By: TeMerc","link":"http://hosts-file.net/?s=reshmapafforrd.5gbfree.com","reported_by":"cymon","feed":"hosts-file.net","feed_id":"AVsGZTOOVjrVcoBZyoiQ","timestamp":"2018-08-03T00:58:00.000Z","tags":["phishing"],"ioc":{"hostname":"reshmapafforrd.5gbfree.com","domain":"5gbfree.com","ip":"92.242.140.2"},"id":"6696cb5238b14328831a2460e6509e1bac2755a1f1eb4d75cdda5ac4c79032ac"},{"title":"Site
        engaged in malware distribution","description":"Website: www.ahalam.5gbfree.com
        \nIP: 209.90.88.139 \nClassification: EMD \nAdded: 6/12/2018 11:17:11 AM \nAdded
        By: Stefan","link":"http://hosts-file.net/?s=www.ahalam.5gbfree.com","reported_by":"cymon","feed":"hosts-file.net","feed_id":"AVsGZTOOVjrVcoBZyoiQ","timestamp":"2018-06-12T11:17:00.000Z","tags":["distribution","malware","exploit"],"ioc":{"hostname":"www.ahalam.5gbfree.com","domain":"5gbfree.com","ip":"209.90.88.139"},"location":{"country":"US","city":"Orem","point":{"lon":-111.6761,"lat":40.2968}},"id":"88a9255dfe987495dbc5c4f5a7830078aa12935f2845038dae0a2d65c41af903"},{"title":"Site
        engage[...]
